name: deploy EcommApp 
on:
  push:
    branches: [ "master"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup jdk 17
    - uses: actions/setup-java@v4  
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with maven   
      run: mvn -B package --file pom.xml
    - name: deploy ecomm to tomcatserver-running inside Ec2  
      run: curl -v -u admin:admin -T /home/runner/work/etoe/etoe/target/Ecomm.war 'http://13.235.103.179:8080/manager/text/deploy?path=/Ecomm.war'
        
